body
#title {
    height: 400px;
    position: relative;
    background-color: #FFFFFF;
}

.boxTest {
    position:relative;
    left:20px;
    background-color: lightblue;
    inset-block-start: 0px;
    inset-block-end: 700px;
}